:root {
  --main-offwhite-1: #e6e6e6;
  --main-offwhite-2: #f0f0f0;

  --main-dark-1: #2d2d2d;
}

/* CSS */
body {
  background-color: var(--main-offwhite-1);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
}

div.nav {
  height: 8vh;
  font-size: 6vh;
  font-weight: bold;
  justify-content: center;
  padding-left: 3%;
  background-color: var(--main-dark-1);
  color: var(--main-offwhite-1);
  border-bottom: 2px solid var(--main-offwhite-1);
}

div.container {
  
  margin: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;

  font-size: 6vh;
  font-weight: bold;
}

div.new {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-offwhite-2);
  width: 22rem;
  height: 15rem;
  border: 1px solid var(--main-dark-1) ;

}

div.current {
  background-color: var(--main-offwhite-2);
  width: 30rem;
  height: 35rem;
  border: 1px solid var(--main-dark-1) ;

}

div.todos {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 82vh;
  background-color: var(--main-offwhite-2);
  border: 1px solid var(--main-dark-1) ;

}

form {
  margin: 1em;
  font-size: large;
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 90%;
  align-items: center;
}
div.section {
  width: 100%;
  font-size: larger;
  font-weight: bold;
  color: var(--main-dark-1);
}

input {
  width: 100%;
  background-color: var(--main-offwhite-1);
  height: 3em;
  border: none;
  outline: none;
}

div.wrapper {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 2rem;
  gap: 5px;
  background-color: var(--main-offwhite-2);
  overflow-y: scroll;
}

div.wrapper::-webkit-scrollbar {
  width: 10px;
}

div.wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

div.wrapper::-webkit-scrollbar-thumb {
  background-color: var(--main-dark-1);
  border: 2px solid transparent;
  background-clip: content-box;
}

div.wrapper::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-dark-1);
}

div.todo {
  height: 5rem;
  width: 42rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-dark-1) ;
  font-size: 1.5rem;

}

.todo:hover {
  background-color: #6e6e6e;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.todo.clicked {
  background-color: var(--main-dark-1);
  color: var(--main-offwhite-2);
}
.todo.clicked * {
  color: var(--main-offwhite-2);
}

.todoTitle {
  font-size: larger;
  font-weight: bold;
  color: var(--main-dark-1);
  max-width: 90%;
  max-height: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  overflow-wrap: break-word;
  text-align: center;
}

/* Define classes for each background color */

.hidden {
  display: none;
  border: none;
}

.color-0 {
  background-color: #b5c0d0;
}

.color-1 {
  background-color: #ccd3ca;
}

.color-2 {
  background-color: #f5e8dd;
}

.color-3 {
  background-color: #eed3d9;
}

.color-4 {
  background-color: #e0d3ee;
}

/* CSS */

button{
  border: none;
  font-weight: 600;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 1.1rem;
  padding: 1rem 1.6rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  touch-action: manipulation;

}


button.add-button {
  width: 100%;
  border-top: 1px solid var(--main-dark-1) ;
  border-bottom: 1px solid var(--main-dark-1) ;

  background-color: var(--main-offwhite-1);
  color:  var(--main-dark-1);
}

button.add-button:hover {
  background-color: var(--main-dark-1);
  color: var(--main-offwhite-1);
}
